body {
    background-color: cadetblue;
}
div {
    border: 1px solid transparent;
}

/*Remover setas do input number*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.custom-file-upload input[type="file"] {
    display: none;
  }

.btn input[type="file"] {
    position: absolute;
    left: -9999px;
}

h3 {
	color: white-space;
}
